.card{
    background-color: #DAE0E2;
    border-radius: 1rem;
    border: 1px solid grey;
    cursor: pointer;
    backface-visibility: hidden;
    padding: 1rem;
    margin: 3rem;
    min-height: 20rem;
    box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.2);
}

.infoContainer{
    text-align: left;
}