.home{   
    width: 100%;
    height: 90vh;
    /* display: grid;
    place-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./../../assets/home.jpeg");
    background-position: center;
    background-size: cover;
    margin-top: -1.5rem;
    color: #ffffff;
}

h1{
    font-size: 3.5rem;
}

.subtitle{
    font-size: 2rem;
}