.currently{
    color: #ffffff;
    padding: 1.5rem 0;
}

.currently-info{
    display: flex;
    justify-content: center;
}

.currently-card{
    width: 30%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px){
    .currently{
        text-align: center;
    }
    .currently-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .currently-card{
        width: 60%;
    }

}