.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-weight: bolder;
    background-color: #808080;
    position: fixed;
    z-index: 1;
}

.header-mobile{
    display: none;
}

.logo-container{
    cursor: pointer;
    height: 100%;
    width: 200px;
    padding: 25px;
    text-decoration: none;
    font-size: 1.3rem;
    color: #ffffff;
}

.options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.option{
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}

a{
    text-decoration: none;
    color: #000000;
}

.option:hover,
.option:active{
    border-bottom: 2px solid #ffffff;
}

@media screen and (max-width: 800px){
    .header-desktop{
        display: none;
    }
    .header-mobile{
        display: unset;
    }
    .logo-container{
        padding: 22px 0;
    }
    .haburger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
        cursor: pointer;
    }
}