.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    font-weight: bolder;
    background-color: #808080;
}

.logo-container{
    height: 100%;
    width: 200px;
    padding: 25px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #ffffff;
}

.options{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.option{
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
    color: #ffffff;
}