.experience{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px){
    .experience{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 80%;
    }
}